/*  Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

:root { /* é a raiz do meu documento */ 
  font-size: 62.5%; /* 10px em todo o documento como padrão */ 
  /* variáveis */
  --primary-color: #221e35;
  --secondary-color: #E73739;
  --title-color: #212529;
  --paragraph-color: #495057;
  --dark-white-color: #f6f6f6;
  --body-bg-color: #f6f6f6;

  --primary-light-color: #F3F2F8;
  --secondary-light-color: #DBD8E9;
  --third-light-color: #AAA4CC;

  --nav-height: 7.2rem;
}

/* Configurações Gerais */
html,
body {
  width: 100%;
  height: 100%;
}

body{
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  text-align: center;
  overflow: overlay;
  background-color: var(--body-bg-color);
}

.container {
  border: 1px solid green;
  width: min(50rem, 100%);  
  margin-inline: auto;
  padding-inline: 2.4rem;
}

section {
  padding-block: 10rem; 
}

section h1 {
  color: var(--title-color);
  font-size: 3.4rem;
}

span {
  color: var(--secondary-color);
}

section h3 {
  font-size: 1.4rem;
}

section p {
  color: var(--paragraph-color);
  line-height: 150%;
}

img {
  width: 100%;
}

.button {
  background-color: var(--primary-color);
  border-radius: 4rem;
  color: var(--dark-white-color);
  padding: 1.6rem 3.2rem;
  text-transform: uppercase;
  font-weight: 700;

  width: fit-content;

  display: flex;
  align-items: center;
  margin-inline: auto;
}

/* .social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
} */
.section-title {
  color: var(--primary-color);
  text-transform: uppercase;
  line-height: 150%;
  letter-spacing: 0.08em;
  margin-bottom: 1.6rem;
}

.subtitle {
  font-size: 3rem;
  line-height: 3.9rem;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 6rem;
}

.list-style {
  text-align: left;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--paragraph-color);
}

/* ====== Navegação ======  */
nav {
  display: flex;
  height: var(--nav-height);
  position: fixed;
  top: 0;
  width: 100%;  
  z-index: 100;  
}

nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.scroll {
  background-color: var(--primary-color);
}

nav.scroll a.logo path {
  fill: var(--dark-white-color);
}

nav.scroll a.logo path[fill*="#E73739"] {
  fill: #E73739;
}

nav.scroll button svg path {
  stroke: var(--dark-white-color);
}

nav button {
  background: none;
  border: none;
  cursor: pointer;  
}

/* ====== Inserir CSS do Menu ======  */

/* ====== Home ======  */
#home {
  padding-block: 0;
  padding-top: calc(4.1rem + var(--nav-height));
}

#home::before {
  content: "";
  background-color: var(--secondary-light-color);
  display: block;
  width: 100%;
  height: calc(112rem + var(--nav-height));

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#home h1 {
  line-height: 130%;
  margin-bottom: 2.4rem;
}

#home p {
  font-size: 1.8rem;
  margin-bottom: 3.2rem;
}

#home a {
  gap: 1rem;
  margin-bottom: 6rem;
}

#home a svg {
  display: none;
}

.stats {
  width: 100%;
  height: auto;
  background-color: var(--primary-light-color);
  border: 1px solid var(--third-light-color);
  border-radius: 0.6rem;
  padding-block: 4rem;
  margin-inline: auto; 
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
}

.stats .stat h3 {
  font-size: 4.8rem;
  line-height: 130%;
  color: var(--title-color);
  margin-bottom: 0.4rem;
}

.stats .stat p {
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--primary-color);
}

/* ====== Benefícios ======  */

.cards { 
  display: flex;
  flex-direction: column;
  gap: 3.2rem;  
}

.card {
  background-color: var(--primary-light-color);
  border: 1px solid var(--third-light-color);
  border-radius: 0.6rem;
  padding: 2.4rem;
  text-align: left;
}

.card svg {
  margin-bottom: 1.6rem;
}

.card h3 {
  font-size: 2.4rem;
  line-height: 3.1rem;
  color: var(--title-color);
  margin-bottom: 1.6rem;
}

.card p {
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--paragraph-color);
}

/* ====== Mais Benefícios ======  */
#moreBenefits {
  background-color: #ffffff;
}

#moreBenefits ul,
#register ol {
  margin-bottom: 4rem;
}

#moreBenefits ul li,
#payments ul li,
#register ol li {
  margin-bottom: 1.6rem;
}

#moreBenefits ul li:last-child,
#payments ul li:last-child {
  margin-bottom: 0;
}

/* ====== Mensalidade ======  */

#payments .card {
  text-align: center;
}

#payments .card h2 {
  color: var(--secondary-color);
  font-size: 6rem;
  margin-bottom: 1.6rem;
}

#payments .card p {
  font-size: 1rem;
  font-weight: 700;
}

#payments ul {
  margin-top: 4rem;
}

/* ====== Cadastro ======  */
#register p,
#happyhour-menu p {
  font-size: 1.6rem;
  margin-bottom: 4rem;
}

/* ====== Cardápio ======  */
#happyhour-menu {
  background-color: var(--primary-light-color);
}

#happyhour-menu iframe {
  width: 100%;
  height: auto;
  margin-bottom: 4rem;
}








